<form method="POST">
  <div class="form-group d-flex row mb-2">
    <label for="company_id" class="form-label">
      <div class="mb-2 fw-bold">Company Id</div>
      <select name="company_id" id="company_id" class="form-select">
        <% companies.forEach(company => { %>
          <option value="<%= company.id %>"><%= company.name %></option>
        <% }) %>
      </select>
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="first_name" class="form-label">
      <div class="mb-2 fw-bold">First Name</div>
      <input type="TEXT" value="<%= employee.first_name
      %>" name="first_name" class="form-control" id="first_name"
      placeholder="Enter First Name" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="last_name" class="form-label">
      <div class="mb-2 fw-bold">Last Name</div>
      <input type="TEXT" value="<%= employee.last_name
      %>" name="last_name" class="form-control" id="last_name"
      placeholder="Enter Last Name" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="title" class="form-label">
      <div class="mb-2 fw-bold">Title</div>
      <input type="TEXT" value="<%= employee.title %>"
      name="title" class="form-control" id="title"
      placeholder="Enter Title" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="salary" class="form-label">
      <div class="mb-2 fw-bold">Salary</div>
      <input type="NUMERIC" value="<%= employee.salary
      %>" name="salary" class="form-control" id="salary"
      placeholder="Enter Salary" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="sick_leave_hours" class="form-label">
      <div class="mb-2 fw-bold">Sick Leave Hours</div>
      <input type="NUMERIC" value="<%= employee.sick_leave_hours %>" name="sick_leave_hours" class="form-control
      form-control" id="sick_leave_hours" placeholder="Enter Sick Leave Hours"
      autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="annual_leave_hours" class="form-label">
      <div class="mb-2 fw-bold">Annual Leave Hours</div>
      <input type="NUMERIC" value="<%= employee.annual_leave_hours %>" name="annual_leave_hours"
      class="form-control" id="annual_leave_hours"
      placeholder="Enter Annual Leave Hours" autocomplete="off">
    </label>
  </div>
  <div class="form-group mb-2">
    <%- include(locals.LayoutPages._csrf) %>
    <button type="submit" class="btn btn-primary">Submit Employee</button>
    <a href="/employees" class="btn btn-danger">Back</a>
  </div>
</form>
