<%- include('./_head.ejs') %>
<div class="container mt-4">
  <h1>Animal</h1>
  <table class="w-50 my-4">
    <tbody>
      <tr>
        <td class="h6">Name</td>
        <td><%- animal.name %></td>
      </tr>
      <tr>
        <td class="h6">Created At</td>
        <td><%- formatDate(animal.created_at) %></td>
      </tr>
      <tr>
        <td class="h6">Updated At</td>
        <td><%- formatDate(animal.updated_at) %></td>
      </tr>
      <tr>
        <td class="h6">Color</td>
        <td><%- animal.color %></td>
      </tr>
      <tr>
        <td class="h6">Image</td>
        <td><img src="<%= animal.image %>" alt="<%- animal.id %>" /></td>
      </tr>
    </tbody>
  </table>

  <div class="form-group mb-2">
    <div class="d-flex align-items-center" style="gap: 1rem">
      <a href="/animals/edit/<%= animal.id %>" class="btn btn-primary">Edit Animal</a>
      <form action="/animals/delete/<%= animal.id %>" method="POST">
        <%- include('../_layouts/partials/_csrf.ejs') %>
        <button type="submit" class="btn btn-danger">Delete Animal</button>
      </form>
      <a href="<%= locals.referer || "/animals" %>" class="btn btn-danger">Back</a>
    </div>
  </div>
</div>
<%- include('../_layouts/_tail.ejs') %>
