<%- include('./_head.ejs') %>
<div class="container mt-4">
  <h1>Comment</h1>
  <table class="w-50 my-4">
    <tbody>
      <tr>
        <td class="h6">Blog Id</td>
        <td><%= comment.blog_id %></td>
      </tr>
      <tr>
        <td class="h6">Body</td>
        <td><%= comment.body %></td>
      </tr>
      <tr>
        <td class="h6">Created At</td>
        <td><%= formatDate(comment.created_at) %></td>
      </tr>
      <tr>
        <td class="h6">Updated At</td>
        <td><%= formatDate(comment.updated_at) %></td>
      </tr>
    </tbody>
  </table>

  <div class="form-group mb-2">
    <div class="d-flex align-items-center" style="gap: 1rem">
      <a href="/comments/edit/<%= comment.id %>" class="btn btn-primary">Edit Comment</a>
      <form action="/comments/delete/<%= comment.id %>" method="POST">
        <button type="submit" class="btn btn-danger">Delete Comment</button>
      </form>
      <a href="/comments" class="btn btn-danger">Back</a>
    </div>
  </div>
</div>
<%- include('../_layouts/_tail.ejs') %>
