<form action="/companies<%= action %>" method="POST">
  <div class="form-group d-flex row mb-2">
    <label for="name" class="form-label">
      <div class="mb-2">Name</div>
      <input type="TEXT" value="<%= company.name %>" name="name"  class="form-control form-control" id="name" placeholder="Enter Name" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="address" class="form-label">
      <div class="mb-2">Address</div>
      <input type="TEXT" value="<%= company.address %>" name="address"  class="form-control form-control" id="address" placeholder="Enter Address" autocomplete="off">
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="number_of_employees" class="form-label">
      <div class="mb-2">Number Of Employees</div>
      <input type="NUMERIC" value="<%= company.number_of_employees %>" name="number_of_employees"  class="form-control form-control" id="number_of_employees" placeholder="Enter Number Of Employees" autocomplete="off">
    </label>
  </div>
  <div class="form-group mb-2">
    <%- include(locals._csrf_field) %>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/companies" class="btn btn-danger">Back</a>
  </div>
</form>