<%- include('../_layouts/_head.ejs') %>
<title>Search Results</title>
<%- include('../_layouts/_mid.ejs') %> <%- include('../_layouts/_tail.ejs') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="pt-3 pb-4">
        <form
          action="/search"
          method="GET"
          class="form-group d-flex"
          style="gap: 0.2rem"
        >
          <div
            class="d-flex flex-column w-100 position-relative"
            id="search-group"
          >
            <input
              type="search"
              id="search-bar"
              name="q"
              class="form-control h-100"
              value="<%= locals.query %>"
              autocomplete="off"
            />
            <ul
              class="list-group position-absolute w-100 top-100 d-none"
              id="search-suggestions-list"
            ></ul>
          </div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-success">
              <i class="fa fa-search mr-1"></i> Search
            </button>
          </div>
        </form>
        <div class="mt-4 text-center">
          <% if (locals.query) { %>
          <h4>Search Results For "<%= locals.query %>"</h4>
          <% } %>
          <div class="search-result-time">
            <%= locals.results?.length %> results (<%= locals.time %> s)
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (locals.results) { %> <% for (result of locals.results) { %> <%-
  include('../_layouts/partials/_searchresult.ejs', { result }) %> <% } %> <% }
  %>
</div>
