<%- include('./_head.ejs') %>
<div class="container">
  <h1>Edit User</h1>
  <form action="/users/edit/<%= user.id %>" method="POST">
    <div class="form-group mb-2">
      <label for="first_name" class="form-label">First Name</label>
      <input
        type="text"
        value="<%= user.first_name %>"
        name="first_name"
        class="form-control"
        id="first_name"
        placeholder="Enter first_name"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="last_name" class="form-label">Last Name</label>
      <input
        type="text"
        value="<%= user.last_name %>"
        name="last_name"
        class="form-control"
        id="last_name"
        placeholder="Enter last_name"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        value="<%= user.email %>"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="oldPassword" class="form-label">Old Password</label>
      <input
        type="password"
        name="oldPassword"
        class="form-control"
        id="oldPassword"
        placeholder="Enter old password"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="password" class="form-label">New Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter new password"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="passwordConfirmation" class="form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        name="passwordConfirmation"
        class="form-control"
        id="passwordConfirmation"
        placeholder="Confirm new password"
        autocomplete="off"
      />
    </div>
    <%- include(locals.LayoutPages._csrf) %>
    <button type="submit" class="btn btn-primary">Edit User</button>
    <a href="/users" class="btn btn-danger">Back</a>
  </form>
</div>
<%- include('../_layouts/_tail.ejs') %>
